<div class="container">
    <h1>Details</h1>


    <div class="media">
        <img class="mr-3" src="{{dish.img}}" alt="Generic placeholder image">
        <div class="media-body">
        <h5 class="mt-0">{{dish.name}}</h5>
        <p>{{dish.description}}</p>
        <p>{{dish.price}} €</p>
        <div *ngIf="dish.availability else elseBlock">
            <p href="#" class="btn btn-primary" (click)="addToCart(dish)">Order</p>
        </div>
        <ng-template #elseBlock>Currently not available</ng-template>

        </div>
    </div>
</div>